
@using EntityLayer.Congrete
@model List<Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>GetCategoryList</title>
</head>
<body>
    <div>
        <h3>    Merhaba</h3>
        <table class="table table-hover">
            <tr>
                <td>Id</td>
                <td>Adı</td>
                <td>Açıklama</td>
                <td>Durum</td>
            
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
            <td><button class="btn btn-primary">Güncelle</button></td>
            
        </tr>
            }

        </table>
        <br />
        <a class="btn btn-info" href="/Category/AddCategory">Yeni Kategori</a> 
     
        <button class="btn btn-warning">Kategori Listesi</button>
    </div>
</body>
</html>
